# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

### *Objectives:*
- List popular languages for Data Science
- List common open source IDEs
- Execute simple arithmetic expressions
- Create a table

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. C++

### Some of the commonly used libraries used by Data Scientists include:
1. Pandas (Python)
2. NumPy (Python)
3. ggplots (R)

### Common open source IDEs for Data Science

| Data Science Tools |
| ------------- |
| Jupyter Notebooks |
| R Studio |
| Microsoft SQL Server |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60

print(200/60, "hours")

3.3333333333333335 hours

## Author:
Gaby Stankeviciute